<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
    <form method="post" action="/post_user">
        <label>UserName:</label>
        <input id="username" name="username" type="text"/>
        <label>Email:</label>
        <input id="email" name="email" type="text"/>
        <input type="submit"/>
    </form>

    {%  for item in data %}
    <li>{{ item.author }}----{{ item.time }}-----{{ item.floor }}</li>
        <li>{{ item.reply }}</li><br></br>
    {% endfor %}
</body>
</html>